

.id.pw.name.nickname.email.file {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    cursor: pointer;
}

/*.two_box input {
    width: 100%;
    max-width: 300px;
    text-align: center;
}*/

.login-button02 {
    display: flex;
    width: 100%;
    height: 32px;
    justify-content: space-evenly;
    border: 1px solid lightgrey;
    align-items: center;
    text-align: center;
}





.panel {
    width: 300px;
    height: 100vh;
    color: black;
    background-color: white;
    position: fixed;
    left: -300px;
    top: 66px;
    gap: 20px;
    transition: all 0.3s ease-out;
    border: lightgrey;
    text-align: center;
    padding-top: 20px;
    z-index: 6;
}

.panel.open {
    left: 0px;
    gap: 20px;
}

.panel h1 {
    text-align: center;
}

.panel-btn {
    cursor: pointer;
}

.mypage {
    display: flex;
    flex-direction: column;
    gap: 20px;
    padding-top: 10%;
    justify-content: center;
    align-items: center;
    text-align: center;
}

.mypage-container {
    width: 500px;
    height: 500px;
    box-shadow: 3px 3px 3px 3px lightgrey;
    display: flex;
    flex-direction: column;
    gap: 20px;
    justify-content: center;
    align-items: center;
    text-align: center;
    border: lightgrey;
}

.mypage-box {
    width: 440px;
    height: 40px;
    display: flex;
    gap: 10px;
    justify-content: center;
    align-items: center;
    text-align: center;
    border-top: 1px solid gray;
    padding-top: 10px;
}

.mypage-box > .menu-btn {
    cursor: pointer;
    transition: all 0.3s ease;
    border-radius: 15px;
    padding: 3px 5px;
}

.mypage-box > .menu-btn:hover {
    background-color: #3c3c45; /* 연한 보라색 */
    color: #f4eeee;
    transform: translateY(-2px); /* 살짝 떠오르는 느낌 */
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.15);
}





.pfp {
    display: flex;
    justify-content: center;
    margin-top: 13px;
}

.category {
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding: 10px 20px;
    border-radius: 0 0 50px 50px;
    margin-bottom: 15px;
    gap: 20px;
    background-color: #585c5e;
    color: #fff1f1;
}

.category div span {
    padding: 10px 15px;
    font-weight: bold;
    cursor: pointer;
    transition: background-color 0.3s ease;
    border-radius: 15px;
}

.category div span:hover {
    background-color: #2b2e3e;
    border-radius: 15px;
}

.cate_radio {
    font-size:14px;
    display: flex;
    align-items: center;
    justify-content: center;
    margin:0px 10px 0px 10px;
}

.cate_radio input {
    margin: 0 3px 0 15px;
}

.cate_radio [type="radio"]{
    display: none;
}

.cate_radio span{
    text-align: center;
    height: 40px;
    width: 85px;
    display: flex;
    align-items: center;
    justify-content: center;
    box-sizing: border-box;
    border-radius: 50px;
    cursor: pointer;
}

.reply_my_button_box {
    display: flex;
    gap: 15px;
}
.reply_my_button {
    text-align: center;
    height: 40px;
    width: 100px;
    display: flex;
    align-items: center;
    justify-content: center;
    box-sizing: border-box;
    border-radius: 50px;
    border: 1px solid #323232;
    background-color: #323232;
    color: #ffffff;
    font-weight: 700;
    cursor: pointer;
}

.cate_radio span:hover {
    background-color: rgba(233, 234, 239, 0.8);   /* 배경색 변경 */
    color: #067cf4;              /* 글자색 변경 */
    transform: scale(1.05);      /* 살짝 커짐 */
    transition: all 0.4s ease;   /* 부드럽게 */
    cursor: pointer;             /* 마우스 커서 변경 */
    border-radius: 50px;          /* 둥글게 */
}

.edit_my_box {
    width: 400px;
    margin: 20px 20px;
    padding: 20px;
    gap: 20px;
    background-color: #fff;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    height: 80px;
    border: 1px solid #ddd;
}

.cate_radio [type="radio"]:checked + span{
    border:1px solid #323232;
    background-color: #323232;
    color:#ffffff;
    font-weight: 700;
}


.write-btn {
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #ffa07a;
    border: none;
    padding: 10px 0;
    border-radius: 20px;
    cursor: pointer;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    transition: background-color 0.3s ease;
    width: 100px;
}

.write-btn:hover {
    background-color: #ff7f50;
}

.write-btn-img {
    width: 20px;
    height: 20px;
    margin-right: 10px;
}

.write-btn > span {

}

.search-btn {
    display: flex;
    gap: 20px;
    margin: 10px auto 35px auto;
    width: 70%;
    display: flex;
    justify-content: center;
    align-items: center;
}

#search-input {
    font-size: 14pt;
    text-align: center;
    height: 30px; /* 높이를 줄임 */
    align-items: center;
    justify-content: center;
    border-radius: 20px;
    border: 1px solid #ccc;
    padding: 5px 0;
    width: 100%;
}

#search-btn {
    border-radius: 20px;
    width: 100px;
    height: 40px;
    display: flex;
    gap: 10px;
    align-items: center;
    text-align: center;
    justify-content: center;
    cursor: pointer;
}

#search-btn:hover {
    background-color: #c5c7cd;
}

#search-btn span {
}

.search-btn-img {
    width: 20px;
    height: 20px;
}

.reply-section {
    width: 90%;
    margin: 35px;
    padding: 10px;

}
.life-kind {
    width: 100%;
}

.life_northWest {
    display: flex;
    gap: 20px;
}
.lift_northEast {
    display: flex;
    margin-left: auto;
    gap: 20px;
}

.life_southWest {
    display: flex;
    gap: 20px;
}

.life_southEast {
    display: flex;
    gap: 15px;
    margin-left: auto;
}

.post-button {
    display: flex;
    gap: 20px;
    transition: background-color 0.3s ease;
}

.post-button button {
    border-radius: 20px;
    background-color: #544c4c;
    color: white;
}

.post-button button:hover {
    background-color: darkgrey;
}

.reply-header {
    display: flex;
    justify-content: center;
}

.reply-ta {
    display: flex;
    justify-content: center;
    gap: 15px;
    align-items: center;
}

#replySection {
    margin-left: 45px;
}

#replyContent {
    width: 400px;
    margin: 20px 20px;
    padding: 20px;
    gap: 20px;
    background-color: #fff;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    height: 80px;
    border: 1px solid #ddd;
}

#replyButton {
    cursor: pointer;
    background-color: #544c4c;
    color: white;
    border-radius: 20px;
    height: 40px;
}

.update_button_box {
    display: flex;
    gap: 15px;
    margin-left: auto;
}
.update_button_box > button {
    border: 1px solid #323232;
    background-color: #323232;
    color: #ffffff;
    font-weight: 700;
    text-align: center;
    height: 40px;
    width: 85px;
    display: flex;
    align-items: center;
    justify-content: center;
    box-sizing: border-box;
    border-radius: 50px;
    cursor: pointer;
}