@charset "UTF-8";

@font-face {
    font-family: "GowunDodum-Regular";
    src: url("https://fastly.jsdelivr.net/gh/projectnoonnu/noonfonts_2108@1.1/GowunDodum-Regular.woff") format("woff");
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'KimjungchulMyungjo';
    src: url('https://fastly.jsdelivr.net/gh/projectnoonnu/noonfonts_2302_01@1.0/KimjungchulMyungjo-Bold.woff2') format('woff2');
    font-weight: 700;
    font-style: normal;
}

@font-face {
    font-family: 'Pretendard-Regular';
    src: url('https://fastly.jsdelivr.net/gh/Project-Noonnu/noonfonts_2107@1.1/Pretendard-Regular.woff') format('woff');
    font-weight: 400;
    font-style: normal;
}

body {
    font-family: 'Pretendard-Regular';
    margin: 0;
    padding: 0;
}

.content {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.header {
    background-color: white;
    font-size: 20pt;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    height: 40px;
    position: sticky;
    top: 0px;
    z-index: 10;
    padding: 15px 30px;
    border-bottom: 1px solid lightgrey;
    min-width: 1240px;
    margin: 0 auto;
}

/* .header02 {
    font-size: 20pt;
    width: 100%;
    display: flex;
    justify-content: space-around;
    height: 60px;
    position: sticky;
    top: 0px;
    z-index: 2;
} */



.footer {
    min-width: 1240px;
    height: 100px;
    display: flex;
    flex-direction: column;
    text-align: center;
    gap: 20px;
    padding: 30px;
    background-color: #fbe7da;
}

.center {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    width: 100%;
    gap: 20px;
}

.title {
    border-bottom: 1px solid grey;
    text-align: center;
}

.id.pw.name.nickname.email.file {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    cursor: pointer;
}



.login-button {
    display: flex;
    width: 100%;
    justify-content: space-evenly;
    align-items: center;
}

.register-button {
    display: flex;
    width: 100%;
    /*justify-content: space-evenly;*/
    align-items: center;
}

.login-button02 {
    display: flex;
    width: 100%;
    justify-content: space-evenly;
    border: 1px solid lightgrey;
    text-align: center;
}

.panel {
    width: 300px;
    height: 100vh;
    color: black;
    background-color: white;
    position: fixed;
    left: -300px;
    top: 66px;
    transition: all 0.3s ease-out;
    border: lightgrey;
    text-align: center;
    font-size: 20px;
    padding-top: 20px;
    z-index: 6;
}

.panel.open {
    left: 0px;
    gap: 20px;
}

.panel h1 {
    text-align: center;
}

.panel-btn {
    cursor: pointer;
}

.mypage {
    display: flex;
    flex-direction: column;
    gap: 20px;
    padding-top: 10%;
    justify-content: center;
    align-items: center;
    text-align: center;
}

.mypage-container {
    width: 400px;
    height: 400px;
    box-shadow: 3px 3px 3px 3px lightgrey;
    display: flex;
    flex-direction: column;
    gap: 20px;
    justify-content: center;
    align-items: center;
    text-align: center;
    border: lightgrey;
}

.mypage-btn {
    width: 340px;
    height: 40px;
    box-shadow: 1px 1px 1px 1px lightgrey;
    display: flex;
    gap: 20px;
    justify-content: center;
    align-items: center;
    text-align: center;
    border: lightgrey;
}

.mypage-content {
    width: 500px;
    height: 40px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1), 0 4px 8px rgba(0, 0, 0, 0.1);
    border-radius: 10px;
    display: flex;
    gap: 20px;
    justify-content: center;
    align-items: center;
    text-align: center;
    border: rgba(0, 0, 0, 0.1);
}

.mypage-container {
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1), 0 4px 8px rgba(0, 0, 0, 0.1);
    /* box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); */
    border-radius: 10px;
}

.mypage-btn {
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1), 0 4px 8px rgba(0, 0, 0, 0.1);
    border-radius: 10px;
}

.mypage-content:hover {

}

/* 게시글 리스트 스타일 */
.item {
    width: 85%;  /* 가로 크기 */
    max-width: 800px; /* 최대 너비 */
    margin: 20px auto; /* 중앙 정렬 */
    padding: 20px;
    border-radius: 10px; /* 모서리 둥글게 */
    background: #fff; /* 카드 배경색 */
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); /* 그림자 효과 */
    transition: transform 0.2s, box-shadow 0.2s; /* 호버 효과 */
}

/* 호버 효과 */
.item:hover {
    transform: translateY(-3px); /* 살짝 위로 이동 */
    box-shadow: 0 6px 12px rgba(0, 0, 0, 0.15);
}

/*구분선 *!*/
/*hr {*/
/*    width: 80%;*/
/*    max-width: 800px;*/
/*    border: none;*/
/*    height: 1px;*/
/*    background: #ddd;*/
/*    margin: 10px auto;*/
/*}*/

/* 반응형 디자인 */
@media (max-width: 600px) {
    .item {
        width: 95%; /* 모바일에서는 더 넓게 */
        padding: 15px;
    }

    .item div:nth-child(2) {
        font-size: 1.2em;
    }
}

.news_page {
    width: 90%;
    border: 1px solid gray;
    border-radius: 40px;
}

.news_item {
    width: 85%;  /* 가로 크기 */
    max-width: 800px; /* 최대 너비 */
    margin: 20px auto; /* 중앙 정렬 */
    padding: 20px;
    border-radius: 10px; /* 모서리 둥글게 */
    background: #fff; /* 카드 배경색 */
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); /* 그림자 효과 */
}

.more-btn-box {
    display: flex;
    justify-content: center;
    padding-bottom: 12px;

}

.news_page #more-btn {
    text-align: center;
    height: 40px;
    width: 85px;
    display: flex;
    align-items: center;
    justify-content: center;
    box-sizing: border-box;
    border: 1px solid #323232;
    background-color: #323232;
    border-radius: 50px;
    color: #ffffff;
    cursor: pointer;
}

.news-wrap{
    margin: 10px;
}

.news_title {
    display: flex;
    justify-content: center;
    text-align: center;
    margin-bottom: 15px;
    font-weight: bold;
}

.news_title span {
    height: 40px;
    display: flex;
    align-items: center;
    transition: transform 0.3s, box-shadow 0.3s; /* 호버 효과 */
}

.news_title span:hover {
    transform: translateY(-3px); /* 살짝 위로 이동 */
    box-shadow: 0 6px 12px rgba(0, 0, 0, 0.15);
}

.news_description {
    transition: transform 0.3s, box-shadow 0.3s;
}

.news_description:hover {
    transform: translateY(-3px); /* 살짝 위로 이동 */
    box-shadow: 0 6px 12px rgba(0, 0, 0, 0.15);
}

.news_link {
    display: flex;
    justify-content: flex-end;
    margin-top: 15px;
}

.news_link a {
    width: 100px;
    color: black;
    display: flex;
    justify-content: center;
    transition: transform 0.3s, box-shadow 0.3s;
}

.news_link a:hover{
    transform: translateY(-3px); /* 살짝 위로 이동 */
    box-shadow: 0 6px 12px rgba(0, 0, 0, 0.15);
}