
.main {
    display: flex;
    justify-content: center;
    min-height: 875px;
    background-color: black;
}

.main-cnt {
    width: 85%;
    background-color: white;
    margin: 20px auto;
    padding: 20px;
    gap: 20px;
    border-radius: 10px;
}

.main02 {
    width: 35%;
}

.header_title {
    cursor: pointer;
    display: flex;
    height: 40px;
    align-items: center;
    gap: 15px;
    padding: 15px 0;
}

.header_title img {
    width: 35px;
    height: 35px;
}

.header_title p {
    margin: 0;
}

.wrapper {
    display: flex;
}

a {
    text-decoration: none;
}

.main_content {
    display: flex;
    justify-content: center;
    padding: 40px 0;
    gap: 30px;
}

.main_content_box {
    min-width: 44%;
    background-color: #e9efec;
    padding: 15px 20px;
    border-radius: 20px;
}

.main_content_box a {
    text-decoration: none;
}

.main_board_header {
    text-align: center;
    display: flex;
    font-size: larger;
    padding: 10px 0;
}

.main_board_header_link {
    margin-left: auto;
    margin-right: auto;
    display: flex;
}

.main_board_header_title {
    margin: 0 auto;
    width: 85%;
    cursor: pointer;
}

.main_board_header_plus {
    margin-left: auto;
    cursor: pointer;
}

.main_board_box{
    text-align: center;
    display: flex;
    height: 40px;
    margin-right: auto;
    padding: 4px 0;
}
/* 이미지 hover 효과 */
.main_board_box img {
    transition: transform 0.3s ease-in-out, box-shadow 0.3s ease-in-out; /* 부드러운 효과 */
    cursor: pointer;
}

/* 마우스 오버 시 이미지 확대 및 그림자 효과 */
.main_board_box:hover img {
    transform: scale(1.1); /* 10% 확대 */
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2); /* 살짝 입체감 추가 */
}

.main_board_box a {
    height: 100%;
    text-decoration: none;
    font-size: large;
}
.main_board_box p {
    margin: 0;
    height: 100%; /* 원하는 고정 높이 */
    display: flex;
    align-items: center; /* 수직 가운데 정렬 */
}
.main_board_content_title {
    padding-left: 15px;
    cursor: pointer;
}
.main_board_content_news {
    padding: 0;
    cursor: pointer;
}
.main_board_content_news a {
    cursor: pointer;
    font-size: 11pt;
}

.main_board_box img {
    height: 100%;
    width: 40px;
}

.main_ul_box {
    padding: 0;
}

.main_ul_box li {
    list-style-type: none;
}