@charset "UTF-8";

@font-face {
    font-family: "GowunDodum-Regular";
    src: url("https://fastly.jsdelivr.net/gh/projectnoonnu/noonfonts_2108@1.1/GowunDodum-Regular.woff") format("woff");
    font-weight: normal;
    font-style: normal;

}

body {
    font-family: "GowunDodum-Regular";
    margin: 0;
    padding: 0;
}

.header {
    background-color: white;
    font-size: 20pt;
    width: 100%;
    display: flex;
    justify-content: space-around;
    height: 60px;
    position: sticky;
    top: 0px;
    z-index: 2;
}

/*.header02 {
    font-size: 20pt;
    width: 100%;
    display: flex;
    justify-content: space-around;
    height: 60px;
    position: sticky;
    top: 0px;
    z-index: 2;
}*/

.main {
    width: 100%;
    height: 1800px;
    border: 5px solid blue;
}

.footer {
    width: 100%;
    height: 200px;
    border: 5px solid red;
}