.location-wrap {
    display: none;
    background-color: rgb(190, 190, 224);
    width: 350px;
    position: absolute;
    left: 50%;
    margin-left: -100px;
}

.location-wrap.show {
    display: flex;
}

li {
    list-style: none;
}

ol,
ul {
    list-style: none;
    margin: 0px;
    padding: 0px;
}

.tour_img_container {
    padding-top: 100px;
    display: flex;
    justify-content: center;
    gap: 50px;
    min-width: 1000px;
}

.tour_img_box {
    display: flex;
    justify-content: center;
}

.tour_img_box img {
    width: 200px;
}

.tour_img_box div {
    display: flex;
    justify-content: center;
}

/* 모달 관련 스타일 */
.modal-overlay {
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(0, 0, 0, 0.5);
    justify-content: center;
    align-items: center;
    z-index: 1000;
}

.modal-overlay.active {
    display: flex;
}

.modal {
    background-color: #fff;
    padding: 20px;
    max-width: 500px;
    width: 90%;
    border-radius: 5px;
    position: relative;
}

.modal .close-modal {
    position: absolute;
    top: 10px;
    right: 15px;
    cursor: pointer;
    font-weight: bold;
}