.custom-file-label {
    display: inline-block;
    padding: 10px 20px;
    background-color: #4CAF50;
    color: white;
    border-radius: 5px;
    cursor: pointer;
    font-weight: bold;
    border: 1px solid black;
    margin: 5px 10px;
}

.main02 {
    width: 35%;
}

.duplicate {
    position: relative;
    width: 100%;
    height: 30px; /* 원하는 높이 설정 */
}

.duplicate input {
    position: absolute;
    left: 50%;
    top: 16%;
    transform: translateX(-50%);
    box-sizing: border-box;
}

.duplicate button {
    position: absolute;
    right: 0;
    height: 100%;
}



.pw {
    width: 400px;
    height: 100px;
}

.reg_input {
    width: 400px;
    height: 60px;
}


/* 중복 확인 버튼 */
#id_check_btn, #nick_check_btn, #email_check_btn {
    background-color: #28a745;
    color: white;
    font-weight: bold;
    width: 90px; /* 중복 확인 버튼은 조금 더 작게 */
    height: 30px;
    font-size: 12px;
    margin-left: auto;
    border-radius: 5px;
}

#id_check_btn:hover, #nick_check_btn:hover, #email_check_btn:hover {
    background-color: #218838;
}

/* 입력 필드와 버튼 정렬 */
/*.id, .pw, .name, .nickname, .email {
    display: flex;
    align-items: center;
    gap: 8px; !* 간격 조정 *!
}*/

/* 성별 선택 정렬 */
.gender {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 15px;
}

.file {
    flex-direction: column;
    display: flex;
    justify-content: center;
    align-items: center;
}
.file > input {
    padding: 0 100px;
}

.register-button {
    display: flex;
    gap: 15px;
    justify-content: center;
    align-items: center;
    margin-top: 20px;
}


.myPage_info {
    display: grid;
    grid-template-columns: 1fr auto 1fr; /* 왼쪽-콜론-오른쪽 */
    align-items: center; /* 수직 정렬 */
    gap: 10px;
}

.center_colon {
    text-align: center;
    min-width: 20px;
}
.left {
    text-align: right;
}
.right {
    text-align: left;
}

.info_form {
    width: 100%;
    height: 80px;
}
.name {
    height: 50px;
}

.my_info_button {
    border:1px solid #323232;
    background-color: #323232;
    color:#ffffff;
    font-weight: 700;
    text-align: center;
    height: 40px;
    width: 85px;
    display: flex;
    align-items: center;
    justify-content: center;
    box-sizing: border-box;
    border-radius: 50px;
    cursor: pointer;
}

.my_photo_button {
    border:1px solid #323232;
    background-color: #323232;
    color:#ffffff;
    font-weight: 700;
    text-align: center;
    height: 40px;
    width: 170px;
    display: flex;
    align-items: center;
    justify-content: center;
    box-sizing: border-box;
    border-radius: 50px;
    cursor: pointer;
}